@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: #F1E9CE;
    margin: 10px 10%;
    font-family: 'Noto Serif JP', serif;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid rgb(73, 73, 73);
    padding:0;
    width: 100%;
}

input, select {
    vertical-align:middle;
}

button{
    border: none;
    background-color: #F1E9CE;
    font-family:  'Noto Serif JP', serif;
    font-size: 18px;
    margin:0 auto;
}

.title{
  font-size: 30px;
}

.block{
  border: 1px solid rgb(73, 73, 73);
  margin-top: 10px;
  padding: 2%;
}
.frame-top{
  width: 100%;
  height: 5px;
  border-top: 4px solid rgb(73, 73, 73);
  border-bottom: 1px solid rgb(73, 73, 73);
  border-left: none;
  border-right: none;
}
.frame-bottom{
  width: 100%;
  height: 5px;
  margin-top: 15px;
  border-top: 1px solid rgb(73, 73, 73);
  border-bottom: 4px solid rgb(73, 73, 73);
  border-left: none;
  border-right: none;
}
.eyecatch{
    padding-top: 10px;
    position: relative;
    border: none;
}
.eyecatch-img{
    width: 90%;
    height: 85vh;
    object-fit: cover;
    margin-left: 5%;
}
.title-name{
    font-size: 35px;
    font-weight: 100;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-menu{
 border: none;
 display: flex;
 justify-content: space-between;
 text-align: center;
 width: 60%;
 margin-left: 20%;
}
.concept{
    position: relative;
}
.concept-content{
    width: 96%;
    height: 100%;
    margin: 5% 2%;
    display: flex;
    z-index:2;

}
.concept-img{
    width: 65%;
    height: 80vh;
    object-fit: cover;
    opacity: 0.7;
}
.concept-sentence{
    width: 30%;
    height: 90%;
    padding: 20px;
    line-height: 1.5em;
    font-size: 15px;
}
.concept-word{
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 10px;
    width: 250px;
    z-index: 1;
    font-size:40px;
    line-height: 1em;
    font-weight: 600;
}
.menu-head{
    display: flex;
}
.menu-title{
    padding-top: 20px;
}
.menu-title p{
    font-size: 20px;
    padding: 10px;
}
.menu-images{
    display: flex;
    margin: 20px;
}
.menu-detail{
    display: block;
    width: 30%;
    margin-left: 3%;
    height: 30%;
}
.menu-detail-img{
    width: 100%;
    height: 16vw;
    object-fit: fill;
}
.menu-detail-p{
    text-align: center;
    padding-top: 10px;
}
.menu-button{
    border: 1px solid;
    font-size: 12px;
    margin-left: 20px;
}
.menu-button2{
    text-align: center;
    padding-top: 50px;
}
.menu-button2 button{
     border-bottom: 1px solid;
}
.modal-menu-title{
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}

.menu-list{
    padding: 1%;
}
.list-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list-content-child{
    padding: 2%;
    width: 45%;
    display: block;
}
.child-left{
    border-left: 1px solid;
}
.list-title{
    font-size: 30px;
}
.menu-type{
    font-size: 20px;
    padding-top:12px;
}
.menu-type-content{
    display: block;
    list-style: none;
    width: 100%;
}
.menu-item{
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 12px;
}
.menu-title{
    width: 85%;
}
.menu-price{
    margin-left: 10%;

}
.remark{
    margin-top: 200px;
}
.remark hr{
    width: 200px;
}
.remark-list{
    text-align: center;
    list-style: none;
    margin: 0 auto;
    font-size: 12px;
}
.shop-info-contain{
    display: flex;
    width: 96%;
    margin: 2%;
    justify-content: space-between;
}
.shop-info-address{
    display: block;
    padding: 10% 3%;

}
.shop-info-img{
    width: 70%;
    height: auto;
    object-fit: cover;
}
.footer-menu{
    margin: 40px;
}
.footer-menu button{
    margin: 5px auto;
    display: block;
}
.footer-nav{
    display: block;
    text-align: center;
}
.footer-nav-title{
    font-size: 30px;
}
.footer-nav img{
    width: 100px;
    height: 30px;
    margin: 20px;
}
.contact-title{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
.form{
    margin: 0 auto;
    width: 600px;
    height: 500px;
    border: 1px solid;
}
.form-item{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    justify-content:space-between;
}
label{
    width: 30%;
    text-align: left;
}
input{
    width: 60%;
    background-color: #F1E9CE;
    border: none;
    border-bottom: 1px solid;
}
textarea{
    width: 60%;
    background-color: #F1E9CE;
}
.submit-button{
    border:1px solid;
    padding: 10px;
    width: 20%;
    margin:40px 40%;
}
.contact-address{
    width: 50%;
    margin: 30px 25% 80px;
    text-align: center;
}
.contact-menu{
 border: none;
 display: flex;
 justify-content: space-between;
 text-align: center;
 size: 15px;
 width: 60%;
 margin: 40px 20%;
}
@media screen and (max-width : 768px){
body{
    padding-top: 30px;
    margin: 5%;
}
.header-menu,.header-hr{
    display: none;
}
 #hamburger {
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 10px;
    right: 20px;
    transition: 0.4s;
    width: 40px;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #000000;
    transition: 0.8s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px; /* ハンバーガーメニューの1本目の棒 */
  }

  #hamburger span:nth-of-type(2) {
    top: 20px; /* ハンバーガーメニューの2本目の棒 */
  }

  #hamburger span:nth-of-type(3) {
    top: 30px; /* ハンバーガーメニューの3本目の棒 */
  }
  .concept-content{
      display: block;
  }
  .concept-img{
      width: 100%;
  }
  .concept-sentence{
      width:90%;
  }
  .concept-word{
      font-size: 35px;
      width: 230px;
  }
  .menu-images{
      display: block;
  }
  .menu-detail{
      width: 100%;

  }
  .menu-detail-img{
      height: 50vw;
      object-fit: cover;
  }
  .menu-detail-p{
      padding-bottom: 40px;
  }
  .menu-button2{
      padding-top: 10px;
  }
  .shop-info{
      height: 100vh;
  }
  .shop-info-contain{
      position: relative;
      display: block;

  }
  .shop-info-img{
    width: 100%;
    top: 10px;
    height: 50vh;

  }
  .shop-info-address{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form{
      width: 450px;
      height: 500px;
  }
  .contact-menu{
      display: block;
  }
  .contact-menu button{
      display: block;
      margin: 5px auto;
  }
}
